$color-highlight: #3987fc;
$color-background: #181818;
$color-text: #dedede;

.header {
  display: grid;
  position: fixed;
  grid-template-columns: 10% 1fr 25%;
  grid-template-areas: "logo . links";
  background-color: rgba(24,24,24, 0.7);
  padding: 15px 5px;
  width: 100%;

  &_logo {
    grid-area: logo;
    width: 9rem;
    margin-left: 35px;
  }

  &_links {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;

    &_link {
      width: 3rem;
      text-decoration: none;
      color: $color-text;
      transition: all 0.5s ease;
  
      &:hover {
        color: $color-highlight;
      }
    }

    &_logout-btn {
      border: 2px solid $color-text;
      background-color: transparent;
      color: $color-text;
      width: 4.5rem;
      border-radius: 2px;
      transition: all 0.5s ease;
  
      &:hover {
        border: 2px solid $color-highlight;
        color: $color-highlight;
        cursor: pointer;
      }
    }
  }
}