$color-highlight: #3987fc;
$color-background: #181818;
$color-text: #dedede;
$color-placeholder: #dedede88;

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: $color-background;
  color: $color-text;

  &_welcome {
    text-align: center;
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    &_project-submit-form {

      & input {
        border: 3px solid $color-text;
        background-color: transparent;
        color: $color-text;
        height: 30px;
        padding: 5px 8px;
        margin-right: 5px;

        &::placeholder {
          color: $color-placeholder;
          font-weight: 600;
          font-family: 'Oswald', sans-serif;
        }
      }

      & button {
        background-color: $color-text;
        color: $color-background;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        height: 30px;
        border: none;
        margin-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &_entry {
      display: grid;
      // grid-template-columns: 1fr 10%;
      grid-template-rows: 25% 1fr;
      grid-template-areas: 
        "project"
        "todos"
      ;
      background-color: transparent;
      color: $color-text;
      border: 3px solid $color-text;
      border-radius: 2px;
      width: 500px;
      padding: 5px 0px;
      margin: 10px 0;

      &_project {
        grid-area: project;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid $color-text;
      }

      &_todo {
        grid-area: todos;
        display: flex;
        justify-content: center;

        &_todo-form {
        }
      }
    }
  }
}

